body {
    font-family: "Open Sans", sans-serif;
    background: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.875rem;
}

img {
    display: block;
}

p {
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

.webinar-date-format {
    display: grid;
    grid-gap: 1px;
}

.webinar-date {
    font-size: 0.8rem;
}

.deadline {
    display: inline;
}

.deadline-format {
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    display: inline-grid;
    place-items: center;
    text-align: center;
}

.deadline-format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}

.deadline h4:not(.expired) {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    letter-spacing: 0.25rem;
}

.expired {
    font-size: 1rem;
    line-height: 1;
}
